// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//New colors
$light: #F9FAFB;
$text-def: #212B36;
$light-hover: #DFE3E8;

//$bg: #F6F0FD;
$bg: #F4F6F8;
$bg-dark: #C4CDD5;
$bg-light: #50495A;

$button:  #5C6AC4;
$button-hover: #202E78;
$button-blocked: #637381;

